$acrylic-bg-color: rgba(255, 255, 255, 0.6) !default;
$acrylic-filter: blur(5rem) !default;
$acrylic-filter-blur-amount: 8px !default;
$acrylic-filter-ie-hack: 8 !default;
$acrylic-box-shadow: 0 0 3px rgba(#000, 0.1) !default;

.acrylic {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        left: -$acrylic-filter-blur-amount;
        top: -$acrylic-filter-blur-amount;
        right: -$acrylic-filter-blur-amount;
        bottom: -$acrylic-filter-blur-amount;
        z-index: -1;
        background-blend-mode: exclusion;
        filter: blur($acrylic-filter-blur-amount);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='$acrylic-filter-ie-hack');
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        box-shadow: $acrylic-box-shadow;
        background-color: $acrylic-bg-color;
    }
}