<section class="site-section" id="elements">
        <div class="definition">
            <h1>Elements</h1>
            <p>This is the section to present the generic styles and how to use them</p>
        </div>
        <div class="example-box">
            <h2>Typography</h2>
            <div class="code-example">
                <div class="preview column">
                    <h1>This is Heading 1</h1>
                    <h2>This is Heading 2</h2>
                    <h3>This is Heading 3</h3>
                    <h4>This is Heading 4</h4>
                    <h5>This is Heading 5</h5>
                    <p>And last, but not least, I'm a paragraph. You can see some more text here.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab quidem dolorem, impedit ad deserunt nostrum
                        quos nisi, atque illum blanditiis nulla, reiciendis ipsa illo nesciunt eius eos pariatur autem expedita.</p>
                </div>
                <div class="code column">
                    <pre><code class="html"></code></pre>
                </div>
            </div>
            <h3>Elements variables</h3>
            <div class="code-example">
                <div class="code column">
            <pre><code class="scss">$font-family-default:    "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-default-sm: "SF Pro Display", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-size-default:      100% !default;
$font-size-h1:           1.75rem !default;
$font-size-h2:           1.6rem !default;
$font-size-h3:           1.3rem !default;
$font-size-h4:           1.0rem !default;
$font-size-h5:           1.0rem !default;
$font-wight-h1:          500 !default;
$font-wight-h2:          500 !default;
$font-wight-h3:          500 !default;
$font-wight-h4:          500 !default;
$font-wight-h5:          400 !default;

$body-line-height:       1.15 !default;</code></pre>
                </div>
            </div>

        </div>
    </section>