$side_bar-width: 20rem;
$side_bar-expanded-width: 20rem;
.main-navigation {
    position: fixed;
    background-color: lighten($color-gray-darkest, 7%);
    flex: 0 0 15rem;
    left: 0;
    top: 3rem;
    bottom: 0;
    width: $side_bar-width;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    transform: translateZ(0);
    z-index: 980;
    padding-top: 2.5rem;
    &.expanded {
        box-shadow: 0.0625rem 0 1rem rgba(0, 0, 0, 0.4);
        transform: translate(0, 0);
    }
    a {
        color: $color-gray-lightest;
        display: block;
        font-size: 1rem;
        line-height: 1.25rem;
        padding: $grid-gutter/2 $grid-gutter;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: $color-brand-orange;
        }
    }
    header {
        padding: $grid-gutter/2;
    }

    @include media-bp-min(tablet) {
        width: 20rem;
    }
    @include media-bp-min(desktop) {
        transform: translate(0, 0);
        top: 3rem;
    }
}
