#main-body {
    @extend %flex-container-vertical-center;
    overflow: hidden;

    .main-header,
    .main-content {
        transition: transform $menu-transition-timing;
    }
    &.menu-active {
        .main-header,
        .main-content {
            transform: translateX(70vw);
            @include media-bp-min(tablet) {
                transform: translateX(20rem);
            }
        }
    }
}