.main-header {
    @extend %flex-container;
    align-items: center;
    background: #fff;
    border-bottom: 0.0625rem solid $color-brand-orange;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $grid-gutter;
    .site-logo {
        display: block;
        flex: 0 0 15rem;
    }
}