

.main-content {
    @extend %flex-container-vertical-center;
    padding: $grid-gutter;
    @include media-bp-min(desktop) {
        padding-top: $grid-gutter * 2;
        padding-left: 20rem + $grid-gutter;
        align-items: flex-start;
    }
}

.site-section {
    width: 100%;
    padding: $grid-gutter;
    margin: $grid-gutter 0;
}

.example-box {
    border-top: 0.0625rem solid #ccc;
    margin: 3rem 0;
    padding: 2rem 0;
    p {
        font-size: 1.125rem;
    }
}

.code-example {
    @extend %flex-two-columns;
    flex-wrap: wrap;
    
    margin-bottom: $grid-gutter;
    .column {
        padding: $grid-gutter/2;
        width: 18rem;
    }
    .code {
        @extend %flex-container;
    }
}
