h1 {
  font-size: $font-size-h1;
  font-weight: $font-wight-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-wight-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-wight-h3;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-wight-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: $font-wight-h5;
}

p {
  margin-bottom: 1.25em;
}
