$button-default-bg-color: $color-white-20 !default;
$button-default-border: none !default;
$button-default-outline-width: 0.0625rem;
$button-default-border-radius: 0 !default;
$button-default-font-size: 1rem !default;
$button-default-padding: $grid-gutter/3 $grid-gutter !default;
$button-default-letter-spacing: 0.03125rem !default;
$button-default-text-color: $color-gray-lightest !default;

$button-default-hover-outline: $button-default-outline-width solid $color-white-40 !default;
$button-default-active-bg-color: $color-white-40 !default;

$button-cta-bg-color: rgba($color-brand-dark-blue, 0.5) !default;
$button-cta-hover-outline: $button-default-outline-width solid $color-white-20 !default;

$button-alert-bg-color: $color-brand-yellow !default;
$button-alert-color: $color-gray-darkest !default;
$button-disabled-bg-color: $button-default-bg-color !default;
$button-disabled-text-color: $color-white-40 !default;
$button-active-outline: none !default;

button {
    background-color: $button-default-bg-color;
    border: $button-default-border;
    border-radius: $button-default-border-radius;
    color: $button-default-text-color;
    display: inline-block;
    font-size: $button-default-font-size;
    letter-spacing: $button-default-letter-spacing;
    padding: $button-default-padding;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent; // Gets rid of tap active state

    &:hover {
        outline: $button-default-hover-outline;
        outline-offset: -$button-default-outline-width;
    }
    &:focus {
        outline: $button-default-hover-outline;
    }
    &:active {
        background-color: $button-default-active-bg-color;
        outline: $button-active-outline;
        color: inherit;
    }

    &.call-to-action {
        background-color: $button-cta-bg-color;
        &:active {
            background-color: $button-cta-hover-outline;
        }
    }
    &.alert {
        background-color: $button-alert-bg-color;
        color: $button-alert-color;
        &:active {
            background-color: darken($button-alert-bg-color, 7%);
        }
    }
    &[disabled],
    &.disabled {
        background-color: $button-disabled-bg-color;
        color: $button-disabled-text-color;
        pointer-events: none;
    }
}
