$input-default-border-width: 0.0625rem !default;
$input-default-border-style: solid !default;
$input-default-border-color: darken($color-medium-grey, 15%) !default;
$input-default-border: $input-default-border-width $input-default-border-style $input-default-border-color;
$input-default-border-radius: 0.375rem !default;
$input-default-display: block !default;
$input-default-font-size: 1.5rem !default;
$input-default-font-weight: 400 !default;
$input-default-margin: $grid-gutter/3 0 !default;
$input-default-width: 18.75rem !default;
$input-default-padding: 0.5rem 1rem !default;
$input-default-transition: transform 0.05s !default;
$input-default-max-width: 100% !default;
$input-default-focus-transform: scale(1.02) !default;

input {
    &[type='text'],
    &[type='date'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='email'],
    &[type='month'],
    &[type='number'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='time'],
    &[type='week'],
    &[type='url'] {
        border: $input-default-border;
        border-radius: $input-default-border-radius;
        display: $input-default-display;
        font-size: $input-default-font-size;
        font-weight: $input-default-font-weight;
        margin: $input-default-margin;
        max-width: $input-default-max-width;
        padding: $input-default-padding;
        width: $input-default-width;
        &:active,
        &:focus {
            transition: $input-default-transition;
            transform: $input-default-focus-transform;
        }
        &[disabled='true'] {
            background-color: $color-light-grey;
            color: $color-medium-grey;
            border-color: $color-medium-grey;
            &:active,
            &:focus {
                transform: unset;
            }
        }
    }

    &[type='button'],
    &[type='reset'],
    &[type='submit'] {
        @extend button;
    }
}
