$input-default-border-width: 0.0625rem !default;
$input-default-border-style: solid !default;
$input-default-border-color: $color-gray-dark !default;
$input-default-border: $input-default-border-width $input-default-border-style $input-default-border-color;
$input-default-border-radius: 0 !default;
$input-default-display: block !default;
$input-default-font-size: 1rem !default;
$input-default-font-weight: 400 !default;
$input-default-margin: $grid-gutter/3 0 !default;
$input-default-width: 18.75rem !default;
$input-default-padding: 0.5rem 1rem !default;
$input-default-max-width: 100% !default;
$input-default-text-color: $color-white-60 !default;
$input-default-placeholder-color: $color-white-40 !default;
$input-default-bg-color: $color-black-40 !default;

$input-hover-bg-color: $color-black-60 !default;
$input-hover-border-color: $color-white-solid !default;
$input-hover-text-color: $color-white-80 !default;

$input-focus-bg-color: $color-white-solid !default;
$input-focus-text-color: $color-black-80 !default;

$input-active-bg-color: $color-white-20 !default;
$input-active-border-color: $color-white-40 !default;
$input-active-text-color: $color-white-80 !default;

$input-disabled-bg-color: $color-black-20 !default;
$input-disabled-text-color: $color-black-40 !default;
$input-disabled-border-color: $color-gray-dark !default;
$input-disabled-placeholder-text-color: $color-black-40 !default;

input {
    &[type='text'],
    &[type='date'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='email'],
    &[type='month'],
    &[type='number'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='time'],
    &[type='week'],
    &[type='url'] {
        background-color: $input-default-bg-color;
        border: $input-default-border;
        border-radius: $input-default-border-radius;
        color: $input-default-text-color;
        display: $input-default-display;
        font-size: $input-default-font-size;
        font-weight: $input-default-font-weight;
        margin: $input-default-margin;
        max-width: $input-default-max-width;
        padding: $input-default-padding;
        width: $input-default-width;

        &::placeholder {
            color: $input-default-placeholder-color;
        }
        &:hover {
            background-color: $input-hover-bg-color;
            border-color: $input-hover-border-color;
            color: $input-hover-text-color;
        }

        &:focus,
        &:hover:focus {
            background-color: $input-focus-bg-color;
            color: $input-focus-text-color;
        }

        &:active,
        &:hover:active,
        &:focus:hover:active {
            background-color: $input-active-bg-color;
            border-color: $input-active-border-color;
            color: $input-active-text-color;
        }
        &[disabled] {
            background-color: $input-disabled-bg-color;
            color: $input-disabled-text-color;
            border-color: $input-disabled-border-color;

            &::placeholder {
                color: $input-disabled-placeholder-text-color;
            }
        }
    }

    &[type='button'],
    &[type='reset'],
    &[type='submit'] {
        @extend button;
    }
}
