$grid-gutter:1.5rem !default;
$grid-container-grid-columns-width: 32rem !default;
%grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-container-grid-columns-width, 1fr));
    grid-column-gap: $grid-gutter;
}

%flex-container {
    display: flex;
    width: 100%;
    max-width: 100%;
}

%fixed-width-at-tablet {
    @include media-bp-min(tablet) {
        width: $tablet;
    }
}

%fixed-width-at-tablet-landscape {
    @include media-bp-min(tablet-landscape) {
        width: $tablet-landscape;
    }
}

%fixed-width-at-desktop {
    @include media-bp-min(desktop) {
        width: $desktop;
    }
}

%fixed-width-at-desktop-lg {
    @include media-bp-min(desktop-lg) {
        width: $desktop-lg;
    }
}

%fixed-width-at-desktop-xl {
    @include media-bp-min(desktop-xl) {
        width: $desktop-xl;
    }
}

%flex-center-horizontal {
    flex-direction: row;
    justify-content: center;
}

%flex-center-vertical {
    flex-direction: column;
    align-items: center;
}

%flex-two-columns {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    .column {
        flex: 1 1 auto;
        width: 50%;
    }
}
%flex-three-columns {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    .column {
        flex: 1 1 auto;
        width: 33.33%;
    }
}
%flex-four-columns {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    .column {
        flex: 1 1 auto;
        width: 25%;
    }
}