/* Basic styles */

$button-basic-font-size: 0.875rem !default;
$button-basic-height: 2.5rem !default;
$button-basic-padding: 0 1.25rem !default;
$button-basic-border-radius: 0.25rem;

/* Small styles */

$button-small-height: 1.4375rem !default;
$button-small-padding: 0 0.75rem !default;
$button-small-border-radius: 0.1875rem !default;

/* Primary */

$button-primary-background-color: #ccc !default;
$button-primary-background-color-hover: #aaa !default;
$button-primary-text-color: $color-light-grey !default;

/* Secondary */

$button-secondary-background-color: rgb(229, 229, 229) !default;
$button-secondary-background-color-hover: rgb(210, 210, 210) !default;
$button-secondary-text-color: #333 !default;
$button-secondary-text-color-hover: #222 !default;

/* End of variables*/
