.base{
    font-size: $font-size-base;
    font-weight: $font-wight-base;
}
.base-alt{
    font-size: $font-size-base-alt;
    font-weight: $font-wight-base-alt;
}
.caption{
    font-size: $font-size-caption;
    font-weight: $font-wight-caption;
}
.caption-alt{
    font-size: $font-size-caption-alt;
    font-weight: $font-wight-caption-alt;
}
