$font-family-default: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-default-sm: 'SF Pro Display', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$font-size-default: 100% !default;
$font-size-h1: 2.875rem !default;
$font-size-h2: 2.125rem !default;
$font-size-h3: 1.5rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1.125rem !default;
$font-size-p: 1rem !default;
$font-wight-h1: 200 !default;
$font-wight-h2: 200 !default;
$font-wight-h3: 300 !default;
$font-wight-h4: 400 !default;
$font-wight-h5: 400 !default;
$font-wight-p: 400 !default;

$body-line-height: 1.15 !default;

$margin-bottom-paragraph: $grid-gutter !default;
$margin-bottom-h1: $margin-bottom-paragraph !default;
$margin-bottom-h2: $margin-bottom-paragraph !default;
$margin-bottom-h3: $margin-bottom-paragraph !default;
$margin-bottom-h4: $margin-bottom-paragraph !default;
$margin-bottom-h5: $margin-bottom-paragraph !default;
$line-height-heading: 1.6em !default;
$paragrph-font-size: 1rem !default;