$font-size-base: 1rem !default;
$font-weight-base: 600 !default;
$font-size-base-alt: 1rem !default;
$font-weight-base-alt: 700 !default;
$font-size-caption: 0.75rem !default;
$font-weight-caption: 300 !default;
$font-size-caption-alt: 0.8125rem !default;
$font-weight-caption-alt: 300 !default;
