$color-dark-grey: #404040;
$color-medium-grey: #5d5d5d;
$color-light-grey: #f8f8f8;
$color-brand-orange: #ff4b00;
$color-brand-dark-blue:#004366;
$color-brand-light-blue:#33b9e6;
$color-brand-yellow:#ffcf00;
$color-brand-grey: #525a63;