$color-dark-grey: #404040 !default;
$color-medium-grey: #ddd !default;
$color-light-grey: #f8f8f8 !default;

$color-brand-orange: #ff4b00 !default;
$color-brand-dark-blue:#004366 !default;
$color-brand-light-blue:#33b9e6 !default;
$color-brand-yellow:#ffcf00 !default;
$color-brand-grey: #525a63 !default;