$color-dark-grey: #212121 !default;
$color-light-grey: rgb(243, 244, 244) !default;

/* Global usage of dark-grey */

$body-text-color: $color-dark-grey !default;
$icons-main-color: $color-dark-grey !default;
$sidebar-background-color: $color-dark-grey !default;
$input-field-line-color-focus: $color-dark-grey !default;


/* Global usage of light-grey */

$body-background-color: $color-light-grey !default;
